.spacer{
  height: 87px;
}
.mini-spacer{
  height: 43px;
}
.main-body{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.about-body,
.contact-body{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-div-home{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  overflow-y: auto;
}
.main-div-vid{
  height: 100%;
}
.logo-head{
  width: 70px;
  margin: auto;
}
.hov-img{
  width: 20px;
  visibility: hidden;
}
.hov-item:hover .hov-img{
  visibility: visible;
}
.the-nav{
  width: 100%;
}
.look-book-menu{
  position: absolute;
  top: -20px;
  left: 75%;
  opacity: 0;
  transition: opacity 2s;
  z-index: 5001;
}
.look-book-opt{
  position: absolute;
  opacity: 0;
  display: none;
  transition: opacity 2s;
  z-index: 5001;
}
.look-book-menu-btn:focus ~ .look-book-menu,
.look-book-menu-btn:focus ~ .look-book-opt{
  display: block;
  opacity: 1;
}
.img-scroller{
  overflow: hidden;
  position: relative;
  height: 100%;
}
.img-block{
  position: relative;
  height: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: top 1s;
  transition-timing-function: ease-out;
}
.img-holder{
  display: inline-block;
  position: absolute;
  height: 100%;
  margin: 0 0 0 10px;
  top: 0;
  transition: left 2s;
}
.img-holder .menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.img-holder.to-the-store{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 300px;
}
.img-holder img{
  height: 100%;
  width: auto;
}
@keyframes wiggle {
  from {
    opacity: 1;
  }
  to {
    opacity: .2;
  }
}
.play-vid{
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}
#Menu{
  position: fixed;
  left: -200px;
  transition: left 1s;
  z-index: 10;
}
#canvas{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#header{
  height: 20%;
}
#slider{
  height: 60%;
  position: relative;
}
.auto-scroll{
  position: absolute;
  z-index: 6000;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.auto-scroll.left{
  left: 0;
}
.auto-scroll.right{
  right: 0;
}
#footer{
  height: 20%;
}