.puzzle-container{
  width: 300px;
  height: 322px;
  margin: auto;
  position: relative;
  background-image: url('../assets/backgrounds/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.complete-puzzle {
  display: none;
}
.puzzle-piece{
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: 1;
}